{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seasons Personality Test</title>
    <link rel="stylesheet" href="{% static 'quiz/style.css' %}">
    <script type="module" src="{% static 'quiz/questions_manager.js' %}"></script>
    <script type="module" src="{% static 'quiz/script.js' %}" defer></script>
</head>
<body>
    <h1>Seasons Personality Test</h1>
    <p id="question-text">This test will measure your personality on four different scales, corresponding to the four seasons. Answers will be given simply as "Agree" or "Disagree", without a neutral option. Please try to answer as honestly as possible, answering in accordance with your current self rather than an ideal version of yourself.</p>
    <div id="button-container" class="button-container">
        <button id="begin-button" class="begin-button"><b>Begin Test</b></button>
    </div>
</body>
</html>